#intro-background
%section#intro
  .site-intro-explanation
    %h2 Team > Idea
    %p 4 out of 5 funded startups are composed of teams who have worked together on former projects
    %p QuickSpot can help you find the right team for the long haul
    %button.btn#explain-site-button How?
  = image_tag "logo_sphere.png", :class => "logo"
#explanation-background
  .shadow
%section#explanation
  = image_tag "logo_sphere.png", :class => "logo"
  %h2 Meetups just got fun again