// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	padding: 0;
}

.home-nav-container{
	position:relative;
	z-index:2;

	/* Firefox v3.6+ */
	background-image:-moz-linear-gradient(11% 55% 0deg,rgba(255,223,192,0.42) 0%,rgba(28,19,17,0.65) 100%); 
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image:-webkit-gradient(linear,11% 55%,79% 65%,color-stop(0, rgba(255,223,192,0.42)),color-stop(1, rgba(28,19,17,0.65)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image:-webkit-linear-gradient(0deg,rgba(255,223,192,0.42) 0%,rgba(28,19,17,0.65) 100%);
	/* Opera v11.10+ */
	background-image:-o-linear-gradient(0deg,rgba(255,223,192,0.42) 0%,rgba(28,19,17,0.65) 100%);
	/* IE v10+ */
	background-image:-ms-linear-gradient(0deg,rgba(255,223,192,0.42) 0%,rgba(28,19,17,0.65) 100%);
	background-image:linear-gradient(0deg,rgba(255,223,192,0.42) 0%,rgba(28,19,17,0.65) 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#6bffdfc0,endColorstr=#a51c1311,GradientType=1)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#6bffdfc0,endColorstr=#a51c1311,GradientType=1);

	.nav-logo{
		float:left;
		margin-left:5%;
		margin-top:10px;
		background-color: rgba(28, 19, 17, 0.55);
		padding: 4px;
		moz-border-radius: 9%;
		-webkit-border-radius: 9%/5%;
		border-radius: 9%/5%;
	}

	form.navbar-search{
		margin-top: 14px;
		margin-bottom: 0;
		margin-left: 15px;
		margin-right: 15px;
	}

	.home-nav{
		margin-bottom:10px;
		padding-top:12px;
		a{	
			color:rgb(255,223,191);
			font-family:Arvo;
			font-size:20px;
			&:hover{
				background-color:#1F1311;
			}
		}

		.divider-vertical{
			margin: 2px 15px;
		}

		.join a{
			background-color:#FFAD5E;
			color:#352520;
			&:hover{
				background-color:#1F1311;
				color:#FFDFBF
			}
		}
	}

	.home-nav-bottom{
		height:1px;
		background-color:transparent;
		border-color:rgb(255,223,192);
		border-bottom-width:2px;
		border-bottom-style:solid;
		/* Firefox v3.5+ */
		-moz-box-shadow:1px 3px 5px 2px rgba(0, 0, 0, 0.65);
		/* Safari v3.0+ and by Chrome v0.2+ */
		-webkit-box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.65);
		/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
		box-shadow:1px 3px 5px 2px rgba(0, 0, 0, 0.65);
		-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=5,Color=#a5000000,Positive=true)";
		filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=5,Color=#a5000000,Positive=true);
	}
}

#intro-background{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background: image-url("home/success_guy.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#intro{
	position:relative;
	z-index:2;
	
	.logo
	{
		position:fixed;
		bottom:0;
		right:0;
		z-index:2;
	}

	.site-intro-explanation{
		background-color:rgba(28,19,17,0.95);
		width:384px;
		margin-left: 5%;
		margin-top:2%;
		padding:30px 0 15px;
		/* Firefox v1.0+ */
		-moz-border-radius:9%;
		/* Safari v3.0+ and by Chrome v0.2+ */
		-webkit-border-radius:9%/5%;
		/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
		border-radius:9%/5%;

		h2{
			font-size:59px;
			color:rgb(255,223,191);
			text-align:center;
		}

		p{
			font-size:30px;
			line-height:120%;
			color:rgb(235,215,177);
			text-align:left;
			padding-left:26px;
			padding-right:5px;
			margin-top:50px;
		}

		button{
			font-family: "Arvo";
			width: 112px;
			height: 54px;
			font-size: 22px;
			color: #4C322C;
			/* Firefox v3.6+ */
			background-image:-moz-linear-gradient(50% 2% -90deg,rgb(255,255,255) 0%,rgb(255,223,191) 98%); 
			/* safari v4.0+ and by Chrome v3.0+ */
			background-image:-webkit-gradient(linear,50% 2%,50% 52%,color-stop(0, rgb(255,255,255)),color-stop(0.98, rgb(255,223,191)));
			/* Chrome v10.0+ and by safari nightly build*/
			background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,223,191) 98%);
			/* Opera v11.10+ */
			background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,223,191) 98%);
			/* IE v10+ */
			background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,223,191) 98%);
			background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,223,191) 98%);
			-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffffdfbf,GradientType=0)";
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffffdfbf,GradientType=0);
			width:106px;
			height:48px;
			margin: 0 auto;
			display: block;
			margin-top:50px;

			&:hover{
				background: rgb(255,255,255); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,195,135,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,195,135,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,195,135,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,195,135,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,195,135,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,195,135,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffc387',GradientType=0 ); /* IE6-9 */
			}
		}
	}

}

#explanation-background{
	display:none;
	opacity: 0;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background: -webkit-linear-gradient(-90deg,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.80) 100%),image-url("home/explanation_bg.jpg"); /* Chrome10+,Safari5.1+ */
}

#explanation
{
	display:none;
	opacity: 0;
	position:relative;
	z-index:2;
	
	.logo
	{
		display:block;;
		margin: 2% auto;
	}

	h2{
		font-size:37px;
		color:rgb(191,160,126);
		text-align:center;
		margin-top: 3%;
	}

	.explanation-box{
		background: image-url("home/leather_square.png") no-repeat top center;
		width:336px;
		height:235px;

		h4{
			text-align:center;
			padding-top:19px;
			color:#BFA17E;
			font-size:26px;
		}

		.who-going{
			width: 90%;
			margin: 0 auto;
			margin-top: 12px;
			height: 157px;

			background-color:rgba(115,80,50,0.19);
			/* Firefox v1.0+ */
			-moz-border-radius:3%;
			/* Safari v3.0+ and by Chrome v0.2+ */
			-webkit-border-radius:2%/5%;
			/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
			border-radius:2%/5%;

			.person-going{
				margin-left: 8px;
				margin-top: 7px;
				float: left;
			}

			ul{
				float:left;
				font-size:18px;
				color:#BFA17E;
				list-style-type: none;
				margin-left: 14px;

				li{
					line-height:1.7em;
				}
			}
		}

		.explanation-group{
			margin: 0 auto;
			display: block;
			margin-top: 14px;
		}

		.private-meeting{
			margin: 0 auto;
			display: block;
			margin-top: 19px;
		}

		.explanation-events{
			display:block;
			margin: 0 auto;
		}

		.explanation-people{
			display:block;
			margin: 0 auto;
		}

		.explanation-prepare{
			display:block;
			margin: 10px auto 0;
		}
	}

	.steps-wrapper{
		margin-top:1%;
		position:relative;

		.arrow
		{
			border: 2px dashed rgba(150, 150, 150, 0.4);
			width:50px;
			height:50px;
			position:absolute;
			top:40%;
			cursor: pointer;

			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

			&:hover{
				border-color: rgba(150, 150, 150, 0.9);
			}

			&.right{
				border-left: none;
				border-bottom: none;
				right:3%;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			
		}
		.steps-container{
			overflow:hidden;
		}
		.steps-container-inner{
			width:200%;
			-webkit-transform: translateZ(0);
			-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
			-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

			-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
			-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
		}

		.steps{
			float:left;
		}
	}
}